<div>
  <h1 class="outline">song party</h1>
  <h3 class="outline">share your songs and let's party!</h3>
</div>

<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="<%= song.url %>"><%= song.song_title %></a> 
    <small>by: <%= song.author %></small></h3>
    <!-- <h4><a href="<%= song.url %>">Link</a></h4> -->
  </div>
<% end %>

<div class="footerholder">
  <div class="footer">
    <a href="/songs/new">Want to post a song?</a>
  </div>
</div>
