<% if @songs.errors.any? %>
  <div>
    <strong>Some issues with your entry, please fix them:</strong>
    <ul>
      <% @songs.errors.full_messages.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<form method="post" action="/songs">
  <div>
    <label>Artist:</label>
    <input type="text" name="author" value="<%= @songs.author %>">
  </div>
  <div>
    <label>Title:</label>
    <input type="text" name="song_title" value="<%= @songs.song_title %>">
  </div>
  <div>
    <label>Url:</label>
    <input type="text" name="content" value="<%= @songs.url %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>